body{

  font-size:24px;
  color:#008000;
}

.newClass{
  background-color: #FF7F50;
  font-size: 24px;
  padding: 10px;
  margin:10px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
